<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="images/logo2.ico" type="image/x-icon">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/manager.css">
    <title>Phiếu xuất</title>
</head>

<body>
    <!-- HEADER -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-bonsai">
        <a class="navbar-brand" href="manager-bonsai"><img src="images/logo2.jpg" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon" style="color: #FFF;"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <div class="row col-12 btn-group">
                        <a class="nav-link " href="manager-bonsai"><i class="fa fa-tree" aria-hidden="true"></i><br> Cây
                            cảnh</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="row col-12">
                        <a class="nav-link" href="manager-import"><i class="fa fa-book" aria-hidden="true"></i><br>
                            Phiếu nhập</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="row col-12">
                        <a class="nav-link active" href="manager-export"><i class="fa fa-paper-plane"
                                aria-hidden="true"></i><br>Phiếu
                            xuất</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="row col-12">
                        <a class="nav-link" href="manager-report"><i class="fa fa-flag" aria-hidden="true"></i><br> Báo
                            cáo</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- END HEADER -->
    <!--  -->
    <div class="container">
        <h2 class="mt-4"><i class="fa fa-paper-plane" aria-hidden="true"></i> Chi tiết phiếu xuất</h2>
        <hr class="bg-info mb-2">
        <!-- Tab panes -->
        <div class="tab-pane mt-5" id="cay">
            <div class="row top-body col-12 mb-4">
                <div class="col-10">
                    <!-- <form th:action="@{/manager-export/search}" method="post"> -->
                        <div class="input-group text-center">
                            <input id="keyword" placeholder="Nhập thông tin bạn cần tìm..." th:onkeyup="search()" class="p-2 col-9 mr-2 mb-0" type="text">
                            <button id="btnSearch" class="btn btn-search col-1 mb-0"><i class="fa fa-search"
                                    style="font-size: 20px;"></i></button>
                        </div>
                </div>
                <a id="btnAdd" class="btn btn-info float-right col-2 text-center" data-toggle="modal"><i
                        class="fa fa-plus-circle" style="font-size: 16px;"></i>
                    <h6 style="font-size: 10px;margin-bottom: 0;">Thêm mới</h6>
                </a>
            </div>
            <table class="table table-bordered table-hover" id="listPhieu">
                <thead>
                    <tr>
                        <th>Nội dung phiếu phiếu</th>
                        <th>Thời gian xuất hàng</th>
                        <th>Tổng số lượng</th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="phieu : ${listPhieu}">
                        <td th:text="${phieu.tenphieu}"></td>
                        <td th:text="${phieu.thoigian}"></td>
                        <td th:text="${phieu.soluong}"></td>
                        <td th:text="${#numbers.formatDecimal(phieu.tongtien, 0, 'COMMA', 0, 'POINT')}"></td>
                        <th><a id="btnTableDetails" th:href="@{/manager-export/findExport/(id=${phieu.maphieu})}"
                                class="btn btn-success justify-content-center m-auto" data-toggle="modal"><i
                                    class="fa fa-info-circle"></i></a></th>
                        <th>
                            <a id="btnTableEdit" th:href="@{/manager-export/findExport/(id=${phieu.maphieu})}"
                                class="btn btn-warning justify-content-center m-auto" data-toggle="modal"><i
                                    class="fa fa-edit"></i></a>
                        </th>
                        <th>
                            <a id="btnTableDel" th:href="@{/manager-export/removeExport/(id=${phieu.maphieu})}"
                                class="btn btn-danger justify-content-center m-auto" data-toggle="modal"><i
                                    class="fa fa-remove"></i></a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- The Modal -->

        <div class="modal" id="add">
            <form method="POST" th:action="@{/manager-export/addExport}">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h2 class="modal-title">Thêm mới một phiếu xuất</h2>
                            <button type="button" class="close" data-toggle="modal"
                                data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <h4>Nội dung phiếu xuất</h4>
                                    <input id="tenphieu" name="tenphieu" value="" type="text" class="input-group">
                                </div>
                                <div class="col-12">
                                    <h4>Thời gian xuất hàng</h4>
                                    <input id="thoigian" name="thoigian" value="" type="date" class="input-group">
                                </div>
                                <div class="col-12">
                                    <h4>Tổng số lượng</h4>
                                    <input id="soluong" name="soluong" value="" type="number" class="input-group">
                                </div>
                                <div class="col-12">
                                    <h4>Tổng tiền</h4>
                                    <input id="tongtien" name="tongtien" value="" type="number" class="input-group">
                                </div>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button class="btn btn-info" type="submit">Xác nhận</button>
                            <button class="btn btn-danger" data-dismiss="modal">Hủy</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <!-- Edit modal -->
        <!-- The Modal -->
        <div class="modal" id="edit">
            <form id="formEdit" method="POST" th:action="@{/manager-export/editExport}">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h2 class="modal-title">Chỉnh sửa thông tin phiếu</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12" hidden>
                                    <h4>Mã phiếu</h4>
                                    <input id="maphieu" name="maphieu" value="" type="text" class="input-group">
                                </div>
                                <div class="col-12">
                                    <h4>Nội dung phiếu xuất</h4>
                                    <input id="tenphieu" name="tenphieu" value="" type="text" class="input-group">
                                </div>
                                <div class="col-12">
                                    <h4>Thời gian xuất hàng</h4>
                                    <input id="thoigian" name="thoigian" value="" type="date" class="input-group">
                                </div>
                                <div class="col-12">
                                    <h4>Tổng số lượng</h4>
                                    <input id="soluong" name="soluong" value="" type="number" class="input-group">
                                </div>
                                <div class="col-12">
                                    <h4>Tổng tiền</h4>
                                    <input id="tongtien" name="tongtien" value="" type="number" class="input-group">
                                </div>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button class="btn btn-info" type="submit">Xác nhận</button>
                            <button class="btn btn-danger" data-dismiss="modal">Hủy</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <!--  -->
        <!-- Remove modal -->
        <!-- The Modal -->
        <div class="modal" id="remove">
            <form action="">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h2 class="modal-title">Xóa phiếu xuất</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <h2 style="color: red;">Bạn có muốn xóa phiếu xuất này không?</h2>
                                </div>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <a class="btn btn-info" id="btnDel" type="submit">Xác nhận</a>
                            <button class="btn btn-danger" data-dismiss="modal">Hủy</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <!-- Details modal -->
        <div class="modal" id="details">
            <form id="formDetails" action="">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h2 class="modal-title">Chi tiết phiếu xuất</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <h4>Nội dung phiếu xuất</h4>
                                    <input id="tenphieu" name="tenphieu" value="" readonly type="text" class="input-group">
                                </div>
                                <div class="col-12">
                                    <h4>Thời gian xuất hàng</h4>
                                    <input id="thoigian" name="thoigian" value="" readonly type="datetime" class="input-group">
                                </div>
                                <div class="col-12">
                                    <h4>Tổng số lượng</h4>
                                    <input id="soluong" name="soluong" value="" readonly type="number" class="input-group">
                                </div>
                                <div class="col-12">
                                    <h4>Tổng tiền</h4>
                                    <input id="tongtien" name="tongtien" value="" readonly type="number" class="input-group">
                                </div>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <hr class="bg-info mb-2">
                            <!-- <button class="btn btn-info" type="submit">Xác nhận</button>
                            <button class="btn btn-danger" data-dismiss="modal">Hủy</button> -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--  -->
        <!-- Nav tabs -->

        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();

                $('#btnAdd').on('click', function (event) {
                    event.preventDefault();
                    var href = $(this).attr('href');
                    // var text = $(this).text(); //return New or Edit addAccount
                    $('#add #tenphieu').val('');
                    $('#add #thoigian').val('');
                    $('#add #soluong').val('');
                    $('#add #tongtien').val('');
                    $('#add').modal();
                });

                $('.table #btnTableEdit').on('click', function (event) {
                    event.preventDefault();
                    var href = $(this).attr('href');
                    $.get(href, function (phieuXuat, status) {
                        $('#formEdit #maphieu').val(phieuXuat.maphieu);
                        $('#formEdit #tenphieu').val(phieuXuat.tenphieu);
                        $('#formEdit #thoigian').val(phieuXuat.thoigian);
                        $('#formEdit #soluong').val(phieuXuat.soluong);
                        $('#formEdit #tongtien').val(phieuXuat.tongtien);
                    });
                    $('#edit').modal(); // id modal
                });

                $('.table #btnTableDel').on('click', function (event) {
                    event.preventDefault();
                    var href = $(this).attr('href'); // Phương thức attr () đặt hoặc trả về các thuộc tính và giá trị của các phần tử đã chọn.
                    $('#remove #btnDel').attr('href', href); //btnDel id òf button in modal form
                    $('#remove').modal(); // id modal
                });

                // details
                $('.table #btnTableDetails').on('click', function (event) {
                    event.preventDefault();
                    var href = $(this).attr('href');
                    $.get(href, function (phieuXuat, status) {
                        $('#formDetails #maphieu').val(phieuXuat.maphieu);
                        $('#formDetails #tenphieu').val(phieuXuat.tenphieu);
                        $('#formDetails #thoigian').val(phieuXuat.thoigian);
                        $('#formDetails #soluong').val(phieuXuat.soluong);
                        $('#formDetails #tongtien').val(phieuXuat.tongtien);
                    });
                    $('#details').modal(); // id modal
                });
                // btn search
                $('#btnSearch').on('click', function (event) {
                    var key = $('#keyword').val();
                    if(key === null || key === ""){
                        alert("Hãy nhập gì đó vào thanh tìm kiếm!");
                    }
                });
            });
            function search() {
                var key = $('#keyword').val();
                setTimeout(1000);
                $.ajax({
                    type: "POST",
                    url: "/manager-export/search",
                    data: "keyword=" + key,
                    success: function (data) {
                        $('#listPhieu').replaceWith(data);
                        $('#keyword').val(key);
                    },
                    error: function (data) {
                        alert("lỗi!");
                    }
                });
            }
        </script>

</body>

</html>