<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="images/logo2.ico" type="image/x-icon">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/manager.css">
    <title>Phiếu xuất</title>
</head>

<body>
    <!-- HEADER -->
    <nav class="navbar navbar-expand-xl bg-dark navbar-bonsai">
        <a class="navbar-brand" href="manager-bonsai"><img src="images/logo2.jpg" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon" style="color: #FFF;"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li th:if="${session.Role == '0'}" class="nav-item">
                    <div class="row col-12 btn-group">
                        <a class="nav-link" href="manager-user"><i class="fa fa-id-card" aria-hidden="true"></i>
                            <br> Nhân viên</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="row col-12 btn-group">
                        <a class="nav-link" href="manager-bonsai"><i class="fa fa-tree" aria-hidden="true"></i><br> Cây
                            cảnh</a>
                    </div>
                </li>
                <li class="nav-item ">
                    <div class="row col-12">
                        <a class="nav-link" href="manager-import"><i class="fa fa-book" aria-hidden="true"></i><br>
                            Phiếu nhập</a>
                    </div>
                </li>
                <li class="nav-item ">
                    <div class="row col-12">
                        <a class="nav-link active" href="manager-export"><i class="fa fa-paper-plane"
                                aria-hidden="true"></i><br>Phiếu
                            xuất</a>
                    </div>
                </li>
                <li th:if="${session.Role == '0' || session.Role == '1'}" class="nav-item ">
                    <div class="row col-12">
                        <a class="nav-link" href="manager-report"><i class="fa fa-flag" aria-hidden="true"></i><br> Báo
                            cáo</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="row col-12 dropdown">
                        <a style="cursor: pointer;" class="nav-link" data-toggle="dropdown"><i class="fa fa-user-circle"
                                aria-hidden="true"></i><br>
                            <h6 th:text="${session.Account}"></h6>
                        </a>
                        <ul class="dropdown-menu bg-danger text-light">
                            <li class="text-center mt-3 mb-3"><a href="#" data-target="#inforCard"
                                    data-toggle="modal">Thông tin</a></li>
                            <li class="text-center mt-3 mb-3"><a href="#" data-target="#changePassword"
                                    data-toggle="modal">Đổi mật khẩu</a></li>
                            <div class="dropdown-divider"></div>
                            <li class="text-center mt-3 mb-3"><a th:href="@{/logout}">Đăng xuất</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- END HEADER -->

    <div class="modal" id="inforCard">

        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h2 class="modal-title">Thông tin cá nhân</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-8">
                            <img style="border-radius: 20px; border: 4px solid #009b77;" class="img-fluid"
                                src="images/user.png" alt="" height="280" width="280">
                        </div>
                        <div class="col-4"></div>
                        <div class="col-12">
                            <h2>Thông tin nhân viên</h2>
                            <hr class="bg-danger" style="height: 4px;">
                        </div>
                        <div class="col-6">
                            <h4 class="pl-2">Họ và tên nhân viên</h4>
                            <h5 class="pl-2">Nguyễn Thị Tú Vi</h5>
                        </div>
                        <div class="col-6">
                            <h4 class="pl-2">Ngày sinh</h4>
                            <h5 class="pl-2">27/08/2001</h5>
                        </div>
                        <div class="col-12">
                            <hr class="bg-success" style="height: 2px;">
                        </div>
                        <div class="col-6">
                            <h4 class="pl-2">Giới tính</h4>
                            <h5 class="pl-2">Nữ</h5>
                        </div>
                        <div class="col-6">
                            <h4 class="pl-2">Chức vụ</h4>
                            <h5 class="pl-2">Thủ Kho</h5>
                        </div>
                        <div class="col-12">
                            <hr class="bg-success" style="height: 2px;">
                        </div>
                        <div class="col-6">
                            <h4 class="pl-2">Số điện thoại</h4>
                            <h5 class="pl-2">0384629244</h5>
                        </div>
                        <div class="col-6">
                            <h4 class="pl-2">Email</h4>
                            <h5 class="pl-2">tuvi2001@gmail.com</h5>
                        </div>
                        <div class="col-12">
                            <hr class="bg-success" style="height: 2px;">
                        </div>
                        <div class="col-12">
                            <h4 class="pl-2">Địa chỉ</h4>
                            <h5 class="pl-2">TP Hồ Chí Minh</h5>
                        </div>
                        <div class="col-12">
                            <hr class="bg-success" style="height: 2px;">
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Change Password -->
    <div class="modal" id="changePassword">

        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" style="background-color: #009b77;">
                    <h2 class="modal-title">Đổi mật khẩu</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body" style="background-color: #ff9933;">
                    <div class="row">
                        <div class="col-12 pl-5 pr-5">
                            <h4>Mật khẩu cũ</h4>
                            <input type="text" id="" class="input-group border-info">
                        </div>
                        <div class="col-12 pl-5 pr-5">
                            <h4>Mật khẩu mới</h4>
                            <input type="text" id="" class="input-group border-info">
                        </div>
                        <div class="col-12 pl-5 pr-5">
                            <h4>Xác nhận mật khẩu</h4>
                            <input type="text" id="" class="input-group border-info">
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer" style="background-color: #daaa79;">
                    <button class="btn btn-success" type="button">Xác nhận</button>
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>
    <!--  -->
    <!--  -->
    <div class="container">
        <h2 class="mt-4"><i class="fa fa-paper-plane" aria-hidden="true"></i> Chi tiết phiếu xuất</h2>
        <hr class="bg-info mb-2">
        <!-- Tab panes -->
        <div class="tab-pane mt-5" id="cay">
            <div class="row top-body col-12 mb-4">
                <div class="col-10">
                    <!-- <form th:action="@{/manager-export/search}" method="post"> -->
                    <div class="input-group text-center">
                        <input id="keyword" placeholder="Nhập thông tin bạn cần tìm..." th:onkeyup="search()"
                            class="p-2 col-9 mr-2 mb-0" type="text">
                        <button id="btnSearch" class="btn btn-search col-1 mb-0"><i class="fa fa-search"
                                style="font-size: 20px;"></i></button>
                    </div>
                </div>
                <button id="btnAdd" class="btn btn-info float-right col-2 text-center" data-toggle="modal"
                    data-target="#add"><i class="fa fa-plus-circle" style="font-size: 16px;"></i>
                    <h6 style="font-size: 10px;margin-bottom: 0;">Thêm mới</h6>
                </button>
            </div>
            <table class="table table-bordered table-hover" id="listPhieu">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Nội dung phiếu phiếu</th>
                        <th>Thời gian xuất hàng</th>
                        <th>Tổng số lượng</th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="phieu : ${listPhieu}">
                        <td th:text="${(phieuStat.index)+1}"></td>
                        <td th:text="${phieu.tenphieu}"></td>
                        <td th:text="${phieu.thoigian}"></td>
                        <td th:text="${phieu.soluong}"></td>
                        <td th:text="${#numbers.formatDecimal(phieu.tongtien, 0, 'COMMA', 0, 'POINT')}"></td>
                        <th><button id="btnTableDetails" th:onclick="'showmodalDetails('+${phieu.maphieu}+')'"
                                class="btn btn-success justify-content-center m-auto" data-target="#details"
                                data-toggle="modal"><i class="fa fa-info-circle"></i>
                            </button></th>
                        <th>
                            <button id="btnTableEdit" th:onclick="'showmodalEdit('+${phieu.maphieu}+')'"
                                class="btn btn-warning justify-content-center m-auto" data-target="#edit"
                                data-toggle="modal"><i class="fa fa-edit"></i></button>
                        </th>
                        <th>
                            <a id="btnTableDel" th:href="@{/manager-export/removeExport/(id=${phieu.maphieu})}"
                                class="btn btn-danger justify-content-center m-auto" data-toggle="modal"><i
                                    class="fa fa-remove"></i></a>
                        </th>
                    </tr>
                    <td colspan="8" class="text-center" style="color: #009b77; font-weight: 600; font-size: 40px;"
                        th:text="${messSreach}"></td>
                </tbody>
            </table>
        </div>
        <!-- The Modal -->

        <div class="modal" id="add">
            <form method="POST" th:action="@{/manager-export/addExport}">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h2 class="modal-title">Thêm mới một phiếu xuất</h2>
                            <button type="button" class="close" data-toggle="modal"
                                onclick=" closeModal()">&times;</button>
                        </div>
                        <script>
                            function calucator(i, x) {
                                $('#divdetailsExport #thanhtien').val();
                                var sl = $('#divdetailsExport #soluong' + i + '').val();
                                var gia = $('#divdetailsExport #gia' + i + '').val();
                                $('#divdetailsExport #thanhtien' + i + '').val(parseFloat(sl * gia));
                                calcSum(x)
                                leaveInput(i)
                            }
                            function calcSum(x) {
                                // alert(x);
                                $('#AddticketExport #soluong').val(0);
                                $('#AddticketExport #tongtien').val(0);
                                var sumSL = parseInt($('#AddticketExport #soluong').val());
                                var sumGia = parseFloat($('#AddticketExport #tongtien').val());
                                for (i = 0; i < x; i++) {
                                    var sl = parseInt($('#divdetailsExport #soluong' + i + '').val());
                                    var gia = parseFloat($('#divdetailsExport #thanhtien' + i + '').val());
                                    sumSL += parseInt(sl);
                                    sumGia += parseFloat(gia);
                                }
                                $('#AddticketExport #soluong').val(parseInt(sumSL));
                                $('#AddticketExport #tongtien').val(parseFloat(sumGia));
                            }
                            // edit modal
                            function calucatorx(i, x) {
                                $('#detailsTicketEdit #thanhtien').val();
                                var sl = $('#detailsTicketEdit #soluong' + i + '').val();
                                var gia = $('#detailsTicketEdit #gia' + i + '').val();
                                $('#detailsTicketEdit #thanhtien' + i + '').val(parseFloat(sl * gia));
                                calcSumx(x)
                                leaveInputx(i)
                            }
                            function calcSumx(x) {
                                // alert(x);
                                $('#AdmissEdit #soluong').val(0);
                                $('#AdmissEdit #tongtien').val(0);
                                var sumSL = parseInt($('#AdmissEdit #soluong').val());
                                var sumGia = parseFloat($('#AdmissEdit #tongtien').val());
                                for (i = 0; i < x; i++) {
                                    var sl = parseInt($('#detailsTicketEdit #soluong' + i + '').val());
                                    var gia = parseFloat($('#detailsTicketEdit #thanhtien' + i + '').val());
                                    sumSL += parseInt(sl);
                                    sumGia += parseFloat(gia);
                                }
                                $('#AdmissEdit #soluong').val(parseInt(sumSL));
                                $('#AdmissEdit #tongtien').val(parseFloat(sumGia));
                            }
                            /* Them so dong*/
                            function createLine() {
                                var x = $('#valueFor').val();
                                if (x === '' || x === null) {
                                    alert('Không được bỏ trống!');
                                    $('#valueFor').focus();
                                    event.preventDefault();
                                    return false;
                                } else if (x <= 0 || x > 100) {
                                    alert('Số dòng từ 1-100.');
                                    $('#valueFor').val('');
                                    $('#valueFor').focus();
                                    event.preventDefault();
                                    return false;
                                }
                                if (confirm("Thông tin bạn nhập bên dưới sẽ bị mất\nBạn có muốn thêm không?") == true) {

                                } else {
                                    event.preventDefault();
                                    return false;
                                }
                                setTimeout(1000);
                                $.ajax({
                                    type: "POST",
                                    url: "/createLine1",
                                    data: "index=" + parseInt(x),
                                    success: function (data) {
                                        $('#divdetailsExport').replaceWith(data);
                                        $('#divdetailsExport').val('');
                                    },
                                    error: function (data) {
                                        alert("Có gì đó không đúng!\n Vui lòng thử lại sau.");
                                    }
                                });
                            }
                            // $('#confirmLine').on('click', function (event) {
                            //     alert($('#valueFor').val());
                            //     var x = $('#valueFor').val();
                            //     if (x === '' || x === null) {
                            //         alert('Không được bỏ trống!');
                            //         $('#valueFor').focus();
                            //         event.preventDefault();
                            //         return false;
                            //     } else if (x <= 0 || x > 100) {
                            //         alert('Số dòng từ 1-100.');
                            //         $('#valueFor').val('');
                            //         $('#valueFor').focus();
                            //         event.preventDefault();
                            //         return false;
                            //     }
                            //     if (confirm("Thông tin bạn nhập bên dưới sẽ bị mất\nBạn có muốn thêm không?") == true) {

                            //     } else {
                            //         event.preventDefault();
                            //         return false;
                            //     }
                            //     setTimeout(1000);
                            //     $.ajax({
                            //         type: "POST",
                            //         url: "/createLine1",
                            //         data: "index=" + parseInt(x),
                            //         success: function (data) {
                            //             $('#divdetailsExport').replaceWith(data);
                            //             $('#divdetailsExport').val('');
                            //         },
                            //         error: function (data) {
                            //             alert("Có gì đó không đúng!\n Vui lòng thử lại sau.");
                            //         }
                            //     });

                            // });
                        </script>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="row" id="AddticketExport">
                                <h4 class="mt-2 mb-2 ml-3" style="color: red;"><span style="color: red;">(*)</span>: Là
                                    những trường không cần nhập</h4>
                                <div class="col-12">
                                    <h4>Nội dung phiếu xuất</h4>
                                    <textarea id="tenphieu" name="tenphieu" value="" type="text" rows="5"
                                        class="input-group" required></textarea>
                                </div>
                                <div class="col-12">
                                    <h4>Thời gian xuất hàng</h4>
                                    <input id="thoigian" name="thoigian" required value="" type="date"
                                        class="input-group">
                                </div>
                                <div class="col-6">
                                    <h4>Tổng số lượng <span style="color: red;">(*)</span></h4>
                                    <input readonly id="soluong" name="soluong" value="" type="number"
                                        class="input-group">
                                </div>
                                <div class="col-6">
                                    <h4>Tổng tiền <span style="color: red;">(*)</span></h4>
                                    <input readonly id="tongtien" name="tongtien" value="" type="number"
                                        class="input-group">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="text-danger">Nhập số dòng cần thêm dữ liệu</h4>
                                    <input id="valueFor" max="100" min="1" value="1" type="number" class="input-group ">
                                </div>
                                <div class="col-12">
                                    <input id="confirmLine" th:onclick="createLine()" value="Xác nhận" type="button"
                                        class="input-group justify-content-center btn btn-success text-center">
                                </div>
                            </div>
                            <hr class="bg-info" style="height: 4px;">
                            <div id="divdetailsExport">
                                <div class="row listct" th:object="${form}">
                                    <th:block th:each="ctphieu, ctphieuStat : *{CTPhieuXuats}">
                                        <div class="col-6 mb-2 mt-2" hidden>
                                            <h4>Mã chi tiết</h4>
                                            <input th:field="*{CTPhieuXuats[__${ctphieuStat.index}__].machitiet}"
                                                id="machitiet" value="" type="text" class="input-group">
                                        </div>
                                        <div class="col-4 mb-2 mt-2">
                                            <h4>Số thứ tự</h4>
                                            <input th:value="${(ctphieuStat.index)+1}" id="stt" value="" type="number"
                                                readonly class="input-group">
                                        </div>
                                        <div class="col-8 mb-2 mt-2">
                                            <h4>Tên cây</h4>
                                            <select required th:field="*{CTPhieuXuats[__${ctphieuStat.index}__].macay}"
                                                th:onchange="inventoryBonsai([[${ctphieuStat.index}]])" name="macay"
                                                th:id="'macay' + ${ctphieuStat.index}"
                                                class="text-dark border-dark input-group ml-0">
                                                <option th:each="bonsai : ${listBonsai}" th:value="${bonsai.macay}"
                                                    th:text="${bonsai.tencay}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-6 mb-2 mt-2">
                                            <h4>Giá</h4>
                                            <input th:field="*{CTPhieuXuats[__${ctphieuStat.index}__].gia}"
                                                th:id="'gia' + ${ctphieuStat.index}" min="1000" value="0" type="number"
                                                class="input-group"
                                                th:onkeyup="calucator('[[${ctphieuStat.index}]]','[[${form.CTPhieuXuats.size()}]]')"
                                                required>
                                        </div>
                                        <div class="col-6 mb-2 mt-2">
                                            <h4>Số lượng</h4>
                                            <input th:field="*{CTPhieuXuats[__${ctphieuStat.index}__].soluong}"
                                                value="1" min="1" max="200" th:id="'soluong' + ${ctphieuStat.index}"
                                                type="number" 
                                                th:onkeyup="calucator('[[${ctphieuStat.index}]]','[[${form.CTPhieuXuats.size()}]]')"
                                                class="input-group" required>
                                            <select hidden th:field="*{CTPhieuXuats[__${ctphieuStat.index}__].macay}"
                                                th:id="'slton' + ${ctphieuStat.index}"
                                                class="text-dark border-dark input-group ml-0">
                                                <option th:each="bonsai : ${listBonsai}" th:value="${bonsai.macay}"
                                                    th:text="${bonsai.tonkho}">
                                                </option>
                                            </select>
                                        </div>
                                        <script>
                                            function leaveInput(i) {
                                                    var ton = $('#divdetailsExport #soluong' + i + '').attr("max");
                                                    if(ton == 0){
                                                        alert("Hàng tồn không đủ!\nSố lượng tồn hiện tại chỉ còn 0.");
                                                    }
                                            }
                                            function leaveInputx(i) {
                                                    var ton = $('#detailsTicketEdit #soluong' + i + '').attr("max");
                                                    if(ton == 0){
                                                        alert("Hàng tồn không đủ!\nSố lượng tồn hiện tại chỉ còn 0.");
                                                    }
                                            }
                                            $(document).ready(function () {
                                                for (i = 0; i < 100; i++) {
                                                    $('#divdetailsExport #macay' + i + ' option:selected').val();
                                                    var macay = $('#divdetailsExport #macay' + i + ' option:selected').val();
                                                    $('#divdetailsExport #slton' + i + '').val(macay);
                                                    $('#divdetailsExport #soluong' + i + '').attr('max', $('#divdetailsExport #slton' + i + ' option:selected').text());

                                                }
                                            });
                                            function inventoryBonsai(i) {
                                                $('#divdetailsExport #macay' + i + ' option:selected').val();
                                                var macay = $('#divdetailsExport #macay' + i + ' option:selected').val();
                                                $('#divdetailsExport #slton' + i + '').val(macay);
                                                $('#divdetailsExport #soluong' + i + '').attr('max', $('#divdetailsExport #slton' + i + ' option:selected').text());
                                            }
                                            function inventoryBonsai1(i) {
                                                $('#detailsTicketEdit #macay' + i + ' option:selected').val();
                                                var macay = $('#detailsTicketEdit #macay' + i + ' option:selected').val();
                                                $('#detailsTicketEdit #slton' + i + '').val(macay);
                                                $('#detailsTicketEdit  #soluong' + i + '').attr('max', $('#detailsTicketEdit #slton' + i + ' option:selected').text());
                                            }
                                            // $('#divdetailsExport select[id="macay"]').change(function () {
                                            //     var macay = $(this).val();
                                            //     $('#divdetailsExport #slton').val(macay);
                                            //     $('#soluong0').attr('max', $('#divdetailsExport #slton option:selected').text());
                                            // });
                                            // $('#divdetailsExport select[id="macay"]').change(function () {
                                            //     var macay = $(this).val();
                                            //     // alert(maloai);
                                            //     $.ajax({
                                            //         type: "POST",
                                            //         url: "/manager-export/inventory",
                                            //         data: "macay=" + parseInt(macay),
                                            //         success: function (data) {
                                            //             return data;
                                            //         },
                                            //         error: function (data) {
                                            //             alert('Lỗi!');
                                            //         }
                                            //     });
                                            // });
                                        </script>
                                        <div class="col-12 mb-2 mt-2">
                                            <h4>Thành tiền <span style="color: red;">(*)</span></h4>
                                            <input th:field="*{CTPhieuXuats[__${ctphieuStat.index}__].thanhtien}"
                                                value="0" min="1" th:id="'thanhtien' + ${ctphieuStat.index}"
                                                type="number" class="input-group" readonly>
                                        </div>
                                        <div class="col-12">
                                            <hr class="bg-danger mt-2 mb-2" style="height: 2px;">
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button class="btn btn-info" type="submit">Xác nhận</button>
                            <button class="btn btn-danger" onclick=" closeModal()">Hủy</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <!-- Edit modal -->
        <!-- The Modal -->
        <div class="modal" id="edit">
            <form id="formEdit" method="POST" th:action="@{/manager-export/editExport}">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h2 class="modal-title">Chỉnh sửa thông tin phiếu</h2>
                            <button type="button" class="close" onclick=" closeModal()">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body" id="listCTT" th:object="${form}">
                            <div class="row mb-5" th:each="phieuXuat : ${phieuXuat}" id="AdmissEdit">
                                <div class="col-12" hidden>
                                    <h4>Mã nhập</h4>
                                    <input th:value="${phieuXuat.maphieu}" id="maphieu" name="maphieu" value=""
                                        type="number" readonly class="input-group">
                                </div>
                                <h4 class="mt-2 mb-2 ml-3" style="color: red;"><span style="color: red;">(*)</span>: Là
                                    những trường không cần nhập</h4>
                                <div class="col-12">
                                    <h4>Nội dung phiếu nhập</h4>
                                    <textarea th:text="${phieuXuat.tenphieu}" id="tenphieu" name="tenphieu" value=""
                                        type="text" class="input-group" rows="5"></textarea>
                                </div>
                                <div class="col-12">
                                    <h4>Thời gian nhập hàng</h4>
                                    <input th:value="${phieuXuat.thoigian}" id="thoigian" name="thoigian" value=""
                                        type="date" class="input-group">
                                </div>
                                <div class="col-md-6">
                                    <h4>Tổng số lượng <span style="color: red;">(*)</span></h4>
                                    <input th:value="${phieuXuat.soluong}" id="soluong" name="soluong" value=""
                                        type="number" readonly class="input-group">
                                </div>
                                <div class="col-6">
                                    <h4>Tổng tiền <span style="color: red;">(*)</span></h4>
                                    <input th:value="${#numbers.formatDecimal(phieuXuat.tongtien,0,0,'COMMA')}"
                                        id="tongtien" name="tongtien" value="" type="text" readonly class="input-group">
                                </div>
                            </div>
                            <!-- details bonsai in ticket -->
                            <hr class="bg-info mt-2" style="height: 4px;">

                            <div class="row listct" id="detailsTicketEdit">
                                <th:block th:each="ctphieu, ctphieuStat : *{CTPhieuXuats}">
                                    <div class="col-6 mb-2 mt-2" hidden>
                                        <h4>Mã chi tiết</h4>
                                        <input th:field="*{CTPhieuXuats[__${ctphieuStat.index}__].machitiet}"
                                            id="machitiet" value="" type="number" class="input-group">
                                    </div>
                                    <div class="col-6 mb-2 mt-2" hidden>
                                        <h4>Mã phiếu xuất</h4>
                                        <input th:field="*{CTPhieuXuats[__${ctphieuStat.index}__].maphieu}" id="maphieu"
                                            value="" type="number" class="input-group">
                                    </div>
                                    <div class="col-4 mb-2 mt-2">
                                        <h4>Số thứ tự</h4>
                                        <input th:value="${(ctphieuStat.index)+1}" id="stt" value="" type="number"
                                            readonly class="input-group">
                                    </div>
                                    <div class="col-8 mb-2 mt-2">
                                        <h4>Tên cây</h4>
                                        <select th:field="*{CTPhieuXuats[__${ctphieuStat.index}__].macay}"
                                            class="input-group ml-0"
                                            th:onchange="inventoryBonsai1([[${ctphieuStat.index}]])"
                                            th:id="'macay' + ${ctphieuStat.index}">
                                            <option th:each="i : ${listBonsai}" th:value="${i.macay}"
                                                th:text="${i.tencay}" th:selected="${i.macay == ctphieu.macay}"
                                                th:style="${i.macay == ctphieu.macay} ? 'font-style: bold;color: red;' : ''">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-6 mb-2 mt-2">
                                        <h4>Giá</h4>
                                        <input th:field="*{CTPhieuXuats[__${ctphieuStat.index}__].gia}"
                                            th:onkeyup="calucatorx('[[${ctphieuStat.index}]]','[[${form.CTPhieuXuats.size()}]]')"
                                            th:id="'gia' + ${ctphieuStat.index}" value="" min="1000" type="number"
                                            class="input-group" required>
                                    </div>

                                    <div class="col-6 mb-2 mt-2">
                                        <h4>Số lượng</h4>
                                        <input th:field="*{CTPhieuXuats[__${ctphieuStat.index}__].soluong}"
                                            th:onkeyup="calucatorx('[[${ctphieuStat.index}]]','[[${form.CTPhieuXuats.size()}]]')"
                                            value="" min="1" max="200" th:id="'soluong' + ${ctphieuStat.index}"
                                            type="number" class="input-group" required>
                                        <select hidden th:field="*{CTPhieuXuats[__${ctphieuStat.index}__].macay}"
                                            th:id="'slton' + ${ctphieuStat.index}"
                                            class="text-dark border-dark input-group ml-0">
                                            <option th:each="bonsai : ${listBonsai}" th:value="${bonsai.macay}"
                                                th:text="${bonsai.tonkho}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-12 mb-2 mt-2">
                                        <h4>Thành tiền <span style="color: red;">(*)</span></h4>
                                        <input th:field="*{CTPhieuXuats[__${ctphieuStat.index}__].thanhtien}"
                                            th:id="'thanhtien' + ${ctphieuStat.index}" value="" type="text"
                                            class="input-group" readonly>
                                    </div>
                                    <div class="col-12">
                                        <hr class="bg-danger mt-2 mb-2" style="height: 2px;">
                                    </div>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button class="btn btn-info" type="submit">Xác nhận</button>
                            <button class="btn btn-danger" onclick=" closeModal()">Hủy</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <!--  -->
        <!-- Remove modal -->
        <!-- The Modal -->
        <div class="modal" id="remove">
            <form action="">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h2 class="modal-title">Xóa phiếu xuất</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <h2 style="color: red;">Bạn có muốn xóa phiếu xuất này không?</h2>
                                </div>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <a class="btn btn-info" id="btnDel" type="submit">Xác nhận</a>
                            <button class="btn btn-danger" data-dismiss="modal">Hủy</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <!-- Details modal -->
        <div class="modal" id="details">
            <form id="formDetails" action="">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h2 class="modal-title">Chi tiết phiếu xuất</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body" id="listCT">
                            <div class="row mb-5" th:each="phieu : ${phieu}">
                                <div class="col-12">
                                    <h4>Nội dung phiếu xuất</h4>
                                    <textarea th:text="${phieu.tenphieu}" id="tenphieu" name="tenphieu" value=""
                                        readonly rows="5" type="text" class="input-group"></textarea>
                                </div>
                                <div class="col-12">
                                    <h4>Thời gian xuất hàng</h4>
                                    <input th:value="${phieu.thoigian}" id="thoigian" name="thoigian" value="" readonly
                                        type="datetime" class="input-group">
                                </div>
                                <div class="col-6">
                                    <h4>Tổng số lượng</h4>
                                    <input th:value="${phieu.soluong}" id="soluong" name="soluong" value="" readonly
                                        type="number" class="input-group">
                                </div>
                                <div class="col-6">
                                    <h4>Tổng tiền</h4>
                                    <input th:value="${#numbers.formatDecimal(phieu.tongtien, 0, 'COMMA', 0, 'POINT')}"
                                        id="tongtien" name="tongtien" value="" readonly type="text" class="input-group">
                                </div>
                            </div>
                            <hr class="bg-info mt-2" style="height: 4px;">
                            <div class="row listct" th:each="ctphieu ,i: ${listCT}">
                                <!-- <div class="col-6">
                                    <h4>STT</h4>
                                    <input th:value="${listCT.size()}" value="" type="text" readonly
                                        class="input-group">
                                </div> -->
                                <div class="col-6 mb-2" hidden>
                                    <h4>Mã chi tiết</h4>
                                    <input th:value="${ctphieu.machitiet}" value="" type="text" readonly
                                        class="input-group">
                                </div>
                                <div class="col-4 mb-2 mt-2">
                                    <h4>Số thứ tự</h4>
                                    <input th:value="${(i.index)+1}" id="stt" value="" type="text" readonly
                                        class="input-group">
                                </div>
                                <div class="col-8 mb-2 mt-2">
                                    <h4>Tên cây cảnh</h4>
                                    <input th:each="cay : ${listBonsai}" th:if="${cay.macay == ctphieu.macay}"
                                        th:value="${cay.tencay}" value="" type="text" readonly class="input-group">
                                </div>
                                <div class="col-6 mb-2 mt-2">
                                    <h4>Giá</h4>
                                    <input th:value="${{ctphieu.gia}}" value="" type="number" readonly
                                        class="input-group">
                                </div>

                                <div class="col-6 mb-2 mt-2">
                                    <h4>Số lượng</h4>
                                    <input th:value="${ctphieu.soluong}" value="" type="number" readonly
                                        class="input-group">
                                </div>
                                <div class="col-12 mb-2 mt-2">
                                    <h4>Thành tiền</h4>
                                    <input
                                        th:value="${#numbers.formatDecimal(ctphieu.thanhtien, 0, 'COMMA', 0, 'POINT')}"
                                        value="" type="text" readonly class="input-group">
                                </div>
                                <div class="col-12">
                                    <hr class="bg-danger mt-2 mb-2" style="height: 2px;">
                                </div>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <hr class="bg-info mb-2">
                            <!-- <button class="btn btn-info" type="submit">Xác nhận</button> -->
                            <button class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--  -->
        <!-- Nav tabs -->

        <script>
            function closeModal() {
                if (confirm('Toàn bộ thông tin bạn vừa thêm sẽ bị xóa!\nBạn có muốn đóng?') == true) {
                    event.preventDefault();
                    $('#add').modal('hide');
                    $('#edit').modal('hide');
                } else {

                }
            }
            function showmodalDetails(id) {
                setTimeout(1000);
                $.ajax({
                    type: "POST",
                    url: "/manager-export/findDetailss",
                    data: "id=" + id,
                    success: function (data) {
                        console.log(id);
                        $('#details #listCT').replaceWith(data);
                    },
                    error: function (data) {
                        alert('Có gì đó không đúng!\n Vui lòng thử lại sau.');
                    }
                });
            }
            function showmodalEdit(id) {
                setTimeout(1000);
                $.ajax({
                    type: "POST",
                    url: "/manager-export/findEdit",
                    data: "id=" + id,
                    success: function (data) {
                        console.log(id);
                        $('#listCTT').replaceWith(data);
                        /* */
                        for(i=0 ;i<100;i++){
                            
                        $('#detailsTicketEdit #macay' + i + ' option:selected').val();
                        var macay1 = $('#detailsTicketEdit #macay' + i + ' option:selected').val();
                        $('#detailsTicketEdit #slton' + i + '').val(macay1);
                        $('#detailsTicketEdit  #soluong' + i + '').attr('max', $('#detailsTicketEdit #slton' + i + ' option:selected').text());
                        
                        }/* */
                    },
                    error: function (data) {
                        alert('Có gì đó không đúng!\n Vui lòng thử lại sau.');
                    }
                });
            }
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();


                $('.table #btnTableDel').on('click', function (event) {
                    event.preventDefault();
                    var href = $(this).attr('href'); // Phương thức attr () đặt hoặc trả về các thuộc tính và giá trị của các phần tử đã chọn.
                    $('#remove #btnDel').attr('href', href); //btnDel id òf button in modal form
                    $('#remove').modal(); // id modal
                });

                // show 

                // btn search
                $('#btnSearch').on('click', function (event) {
                    var key = $('#keyword').val();
                    if (key === null || key === "") {
                        alert("Hãy nhập gì đó vào thanh tìm kiếm.");
                    }
                });
            });
            function search() {
                var key = $('#keyword').val();
                setTimeout(1000);
                $.ajax({
                    type: "POST",
                    url: "/manager-export/search",
                    data: "keyword=" + key,
                    success: function (data) {
                        $('#listPhieu').replaceWith(data);
                        $('#keyword').val(key);
                    },
                    error: function (data) {
                        alert("Có gì đó không đúng!\n Vui lòng thử lại sau.");
                    }
                });
            }
        </script>

</body>

</html>