<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="images/logo2.ico" type="image/x-icon">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<!-- Popper JS -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/manager.css">
	<title>Kho cây cảnh</title>
</head>

<body>
	<!-- HEADER -->
	<nav class="navbar navbar-expand-xl bg-dark navbar-bonsai">
		<a class="navbar-brand" href="manager-bonsai"><img src="images/logo2.jpg" alt=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon" style="color: #FFF;"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li th:if="${session.Role == '0'}" class="nav-item">
					<div class="row col-12 btn-group">
						<a class="nav-link" href="manager-user"><i class="fa fa-id-card" aria-hidden="true"></i>
							<br> Nhân viên</a>
					</div>
				</li>
				<li class="nav-item">
					<div class="row col-12 btn-group">
						<a class="nav-link active" href="manager-bonsai"><i class="fa fa-tree"
								aria-hidden="true"></i><br> Cây cảnh</a>
					</div>
				</li>
				<li class="nav-item ">
					<div class="row col-12">
						<a class="nav-link " href="manager-import"><i class="fa fa-book" aria-hidden="true"></i><br>
							Phiếu nhập</a>
					</div>
				</li>
				<li class="nav-item">
					<div class="row col-12">
						<a class="nav-link" href="manager-export"><i class="fa fa-paper-plane"
								aria-hidden="true"></i><br>Phiếu
							xuất</a>
					</div>
				</li>
				<li th:if="${session.Role == '0' || session.Role == '1'}" class="nav-item ">
					<div class="row col-12">
						<a class="nav-link" href="manager-report"><i class="fa fa-flag" aria-hidden="true"></i><br> Báo
							cáo</a>
					</div>
				</li>
				<li class="nav-item">
					<div class="row col-12 dropdown">
						<a style="cursor: pointer;" class="nav-link" data-toggle="dropdown"><i class="fa fa-user-circle"
								aria-hidden="true"></i><br>
							<h6 th:text="${session.Account}"></h6>
						</a>
						<ul class="dropdown-menu bg-danger text-light">
							<li class="text-center mt-3 mb-3"><a href="#" data-target="#inforCard"
									data-toggle="modal">Thông tin</a></li>
							<li class="text-center mt-3 mb-3"><a href="#" data-target="#changePassword"
									data-toggle="modal">Đổi mật khẩu</a></li>
							<div class="dropdown-divider"></div>
							<li class="text-center mt-3 mb-3"><a th:href="@{/logout}">Đăng xuất</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<!-- END HEADER -->

	<div class="modal" id="inforCard">
		<script>
			function load_infor() {
				$.ajax({
					type: "POST",
					url: "/load-modal-infor-user",
					success: function (data) {
						$('#infor').replaceWith(data);

					},
				});
			}
		</script>
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h2 class="modal-title">Thông tin cá nhân</h2>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="row" id="infor" th:each="user : ${user}">
						<!-- <div class="col-8">
							   <img th:src="@{${'/load-image-user/'+ user.taikhoan}}" style="border-radius: 20px; border: 4px solid #009b77;" class="img-fluid"  alt=""
								  height="280" width="280"> 
						  </div> -->
						<div class="col-4"></div>
						<div class="col-12">
							<h2>Thông tin nhân viên</h2>
							<hr class="bg-danger" style="height: 4px;">
						</div>
						<div class="col-6">
							<h4 class="pl-2">Họ và tên nhân viên</h4>
							<h5 class="pl-2" th:text="${user.hotennv}"></h5>
						</div>
						<div class="col-6">
							<h4 class="pl-2">Ngày sinh</h4>
							<h5 class="pl-2" th:text="${user.ngaysinh}"></h5>
						</div>
						<div class="col-12">
							<hr class="bg-success" style="height: 2px;">
						</div>
						<div class="col-6">
							<h4 class="pl-2">Giới tính</h4>
							<h5 class="pl-2" th:text="${user.gioitinh}"></h5>
						</div>
						<div class="col-6">
							<h4 class="pl-2">Chức vụ</h4>
							<!-- <h5 class="pl-2" th:text="${user.chucvu}"></h5>  -->
						</div>
						<div class="col-12">
							<hr class="bg-success" style="height: 2px;">
						</div>
						<div class="col-6">
							<h4 class="pl-2">Số điện thoại</h4>
							<h5 class="pl-2" th:text="${user.sdt}"></h5>
						</div>
						<div class="col-6">
							<h4 class="pl-2">Email</h4>
							<h5 class="pl-2" th:text="${user.email}"></h5>
						</div>
						<div class="col-12">
							<hr class="bg-success" style="height: 2px;">
						</div>
						<div class="col-12">
							<h4 class="pl-2">Địa chỉ</h4>
							<h5 class="pl-2" th:text="${user.diachi}"></h5>
						</div>
						<div class="col-12">
							<hr class="bg-success" style="height: 2px;">
						</div>
					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button class="btn btn-danger" type="button" data-dismiss="modal">Đóng</button>
				</div>

			</div>
		</div>
	</div>
	<!-- Change Password -->
	<div class="modal" id="changePassword">

		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header" style="background-color: #009b77;">
					<h2 class="modal-title">Đổi mật khẩu</h2>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<script>
					function changePass() {
						var passOld = $('#passold').val();
						var passNew = $('#passnew').val();
						alert(passOld)
						alert(passNew)
						$.ajax({
							type: "POST",
							url: "/changePassWord",
							data: "passOld=" + passOld, "passNew=": passNew,
							success: function (data) {
								alert("Cập nhật mật khẩu thành công!")
							},
							error: function (data) {
								alert("Có gì đó không đúng!\n Vui lòng thử lại sau.");
							}
						});
					}
				</script>
				<!-- Modal body -->
				<div class="modal-body" style="background-color: #ff9933;">
					<div class="row" id="ChangPassWord">
						<div class="col-12 pl-5 pr-5">
							<h4>Mật khẩu cũ</h4>
							<input type="text" id="passold" class="input-group border-info">
						</div>
						<div class="col-12 pl-5 pr-5">
							<h4>Mật khẩu mới</h4>
							<input type="text" id="passnew" class="input-group border-info">
						</div>
						<div class="col-12 pl-5 pr-5">
							<h4>Xác nhận mật khẩu</h4>
							<input type="text" id="confirmpass" class="input-group border-info">
						</div>
					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer" style="background-color: #daaa79;">
					<button th:onclick="changePass()" class="btn btn-success" type="button">Xác nhận</button>
					<button class="btn btn-danger" type="button" data-dismiss="modal">Đóng</button>
				</div>

			</div>
		</div>
	</div>
	<!--  -->
	<!--  -->
	<div class="container">
		<ul class="nav nav-tabs mt-2 mb-4">
			<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#cay"><i class="fa fa-tree"></i><br>
					Cây cảnh</a></li>
			<li class="nav-item" id="btntabncc"><a class="nav-link" data-toggle="tab" href="#tabnhacungcap"><i
						class="fa fa-truck" aria-hidden="true"></i><br>
					Nhà cung cấp</a></li>
			<li class="nav-item" id="btntablc"><a class="nav-link" data-toggle="tab" href="#tabloaicay"><i
						class="fa fa-tree" aria-hidden="true"></i><br>
					Loại cây</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane active container" id="cay">
				<div class="row top-body col-12 mb-4">
					<div class="col-7 mb-0">
						<div class="input-group justify-content-center text-center">
							<input th:onkeyup="search()" class="input-group p-2" id="keyword" name="keyword" type="text"
								value="">
						</div>
					</div>
					<div class="col-2 justify-content-center mb-0">
						<button class="btn btn-search mb-0 mt-1" id="btnSearch">
							<i class="fa fa-search" style="font-size: 20px;"></i>
						</button>
					</div>
					<div class="col-3 justify-content-center d-block">
						<button class="btn btn-info btn-group float-right" data-toggle="modal" data-target="#add">Thêm
							mới</button>
					</div>

					<script>
						$(document).ready(function () {
							$('select[name="sortcaycanh"]').change(function () {
								if ($(this).val() == "1") {
									$.ajax({
										type: "POST",
										url: "/manager-bonsai/sortPriceASC",
										data: "value=" + 1,
										success: function (data) {

											$('#reloadcay').replaceWith(data);
										},
										error: function (data) {
											alert('Lỗi!');
										}
									});
								} else if ($(this).val() == "2") {
									$.ajax({
										type: "POST",
										url: "/manager-bonsai/sortPriceASC",
										data: "value=" + 2,
										success: function (data) {

											$('#reloadcay').replaceWith(data);
										},
										error: function (data) {
											alert('Lỗi!');
										}
									});
								} else if ($(this).val() == "3") {
									$.ajax({
										type: "POST",
										url: "/manager-bonsai/sortPriceASC",
										data: "value=" + 3,
										success: function (data) {

											$('#reloadcay').replaceWith(data);
										},
										error: function (data) {
											alert('Lỗi!');
										}
									});
								} else if ($(this).val() == "4") {
									$.ajax({
										type: "POST",
										url: "/manager-bonsai/sortPriceASC",
										data: "value=" + 4,
										success: function (data) {

											$('#reloadcay').replaceWith(data);
										},
										error: function (data) {
											alert('Lỗi!');
										}
									});
								}
							});
						});
					</script>
				</div>
				<div class="row">
					<div class="col-1">
						<i style="font-size: 20px" class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
					</div>
					<div class="col-2 d-block">
						<!--<button class="btn btn-info btn-group float-right"
							data-toggle="modal" id="btnsortPriceASC"><i class="fa fa-sort-alpha-asc mr-4" aria-hidden="true"></i>Giá</button> -->
						<select id="sortcaycanh" name="sortcaycanh">
							<option value="0" disabled selected>-- Lựa chọn --</option>
							<option value="1">Giá giảm dần</option>
							<option value="2">Giá tăng dần</option>
							<option value="3">Số lượng giảm dần</option>
							<option value="4">Số lượng tăng dần</option>
						</select>
					</div>

					<div class="col-2 justify-content-center d-block">
						<!--<button class="btn btn-info btn-group float-right"
							data-toggle="modal" id="btnsortPriceASC"><i class="fa fa-sort-alpha-asc mr-4" aria-hidden="true"></i>Giá</button> -->
						</i><select id="sortloaicay" name="sortloaicay">
							<option value="0" disabled selected>-- Loại cây --</option>
							<option th:each="loaicay:${listLoaiCay}" th:text="${loaicay.tenloai}"
								th:value="${loaicay.maloai}"></option>

						</select>
					</div>
				</div>
				<script>
					$('select[name="sortloaicay"]').change(function () {
						//var maloai = $("#selected-th:value").text($(this).find(":selected").val());
						//$("#selected-th:text").text($(this).find(":selected").text());
						var maloai = $(this).val();
						// alert(maloai);
						$.ajax({
							type: "POST",
							url: "/manager-bonsai/loaicay",
							data: "maloai=" + parseInt(maloai),
							success: function (data) {
								$('#reloadcay').replaceWith(data);
							},
							error: function (data) {
								alert('Lỗi!');
							}
						});
					});
				</script>
				<hr class="bg-info mb-4">

				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>STT</th>
							<th>Tên cây cảnh</th>
							<th>Giá bán</th>
							<th>Số lượng tồn</th>
							<th>Hình ảnh</th>
							<th>Mô tả</th>
							<th>Đơn vị tính</th>
						</tr>
					</thead>
					<tbody id="reloadcay">
						<tr th:each="cay: ${listCay}">
							<td th:text="${(cayStat.index)+1}"></td>
							<td th:text="${cay.tencay}"></td>
							<td th:text="${#numbers.formatDecimal(cay.giacay, 0, 'COMMA', 0, 'POINT')}"></td>
							<th:block th:if="${cay.tonkho == 0}">
								<td style="color: red;" th:text="Hết+' '+hàng"></td>
							</th:block>
							<th:block th:unless="${cay.tonkho == 0}">
								<td th:text="${cay.tonkho}"></td>
							</th:block>
							<td><img th:src="@{${'/load-image-cay/'+cay.macay}}" height="50px" width="50px" alt=""></td>
							<td th:text="${cay.mota}"></td>
							<td th:text="${cay.dvt}"></td>
							<th><button th:onclick="'sua_cay('+${cay.macay}+')'"
									class="btn btn-warning justify-content-center m-auto" data-toggle="modal"
									data-target="#edit">
									<i class="fa fa-edit"></i>
								</button></th>
							<th><button th:onclick="'return xoa_cay('+${cay.macay}+')'"
									class="btn btn-danger justify-content-center m-auto" data-toggle="modal">
									<i class="fa fa-remove"></i>
								</button></th>
						</tr>
						<td colspan="9" class="text-center" style="color: #009b77; font-weight: 600; font-size: 40px;" th:text="${messSreach}"></td>
					</tbody>
				</table>
			</div>


			<div class="tab-pane container" id="tabnhacungcap">
				<div class="row top-body col-12 mb-4">


					<div class="col-7 mb-0">
						<div class="input-group justify-content-center text-center">
							<input th:onkeyup="searchs()" class="input-group p-2" id="keywords" name="keywords"
								type="text" value="">
						</div>
					</div>
					<div class="col-2 justify-content-center mb-0">
						<button class="btn btn-search mb-0 mt-1" id="btnSearchncc">
							<i class="fa fa-search" style="font-size: 20px;"></i>
						</button>
					</div>


					<div class="col-3 justify-content-center d-block">
						<button class="btn btn-info btn-group float-right" data-toggle="modal"
							data-target="#ThemNhaCungCap">Thêm mới</button>
					</div>
				</div>
				<hr class="bg-info mb-4">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>STT</th>
							<th>Tên nhà cung cấp</th>
							<th>Số điện thoại</th>
							<th>Email</th>
							<th>Địa chỉ</th>
							<th>Ghi chú</th>
						</tr>
					</thead>
					<tbody id="nhacungcap">
						<tr th:each="ncc : ${listNCC}">
							<td th:text="${(nccStat.index)+1}"></td>
							<td th:text="${ncc.tennhacungcap}"></td>
							<td th:text="${ncc.sodienthoai}"></td>
							<td th:text="${ncc.email}"></td>
							<td th:text="${ncc.diachi}"></td>
							<td th:text="${ncc.ghichu}"></td>
							<th><button th:onclick="'sua_nhacungcap('+${ncc.manhacungcap}+')'"
									class="btn btn-warning justify-content-center m-auto" data-toggle="modal"
									data-target="#editnhacungcap">
									<i class="fa fa-edit"></i>
								</button></th>
							<th><button th:onclick="'return xoa_nhacungcap('+${ncc.manhacungcap}+')'"
									data-toggle="modal" class="btn btn-danger justify-content-center m-auto">
									<i class="fa fa-remove"></i>
								</button></th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="tab-pane container" id="tabloaicay">
				<div class="row top-body col-12 mb-4">


					<div class="col-7 mb-0">
						<div class="input-group justify-content-center text-center">
							<input th:onkeyup="searchs()" class="input-group p-2" id="keywords" name="keywords"
								type="text" value="">
						</div>
					</div>
					<div class="col-2 justify-content-center mb-0">
						<button class="btn btn-search mb-0 mt-1" id="btnSearchncc">
							<i class="fa fa-search" style="font-size: 20px;"></i>
						</button>
					</div>


					<div class="col-3 justify-content-center d-block">
						<button class="btn btn-info btn-group float-right" data-toggle="modal"
							data-target="#ThemLoaiCay">Thêm mới</button>
					</div>
				</div>
				<hr class="bg-info mb-4">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>STT</th>
							<th>Tên loại cây</th>

						</tr>
					</thead>
					<tbody id="reloadloaicay">
						<tr th:each="loaicay : ${listLoaiCay}">
							<td th:text="${(loaicayStat.index)+1}"></td>
							<td th:text="${loaicay.tenloai}"></td>

							<th><button th:onclick="'sua_loaicay('+${loaicay.maloai}+')'"
									class="btn btn-warning justify-content-center m-auto" data-toggle="modal"
									data-target="#editloaicay">
									<i class="fa fa-edit"></i>
								</button></th>
							<th><button th:onclick="'return xoa_loaicay('+${loaicay.maloai}+')'" data-toggle="modal"
									class="btn btn-danger justify-content-center m-auto">
									<i class="fa fa-remove"></i>
								</button></th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- The Modal -->
	<div class="modal" id="add">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<form th:action="@{/manager-addCayCanh}" method="post" enctype="multipart/form-data">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h2 class="modal-title">Thêm mới</h2>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="row">
							<div class="col-12">
								<h4>Tên cây cảnh</h4>
								<input type="text" name="tencay" class="input-group" required>
							</div>
							<div class="col-6">
								<h4>Giá cây</h4>
								<input type="number" min="1000" name="giacay" class="input-group" required>
							</div>
							<div class="col-6">
								<h4>Tồn kho</h4>
								<input min="0" value="0" max="500" type="number" name="tonkho" class="input-group"
									readonly>
							</div>
							<div class="col-12">
								<h4>Hình ảnh</h4>
								<div class="image-input">
									<input type="file" class="imageInput btn-info" th:name="photo"
										accept="image/*"><br><img src="" width="100px" height="100px"
										class="image-preview mt-2">
								</div>
							</div>
							<div class="col-12">
								<h4>Mô tả</h4>
								<textarea type="text" name="mota" class="input-group" rows="5"></textarea>
							</div>
							<div class="col-6">
								<h4>Đơn vị tính</h4>
								<input type="text" name="dvt" class="input-group">
							</div>
							<div class="col-6">
								<h4>Loại cây</h4>
								<select class="input-group pt-2 pb-2" id="maloai" name="maloai">
									<option class="pt-1 pb-1" th:each="loaicay:${listLoaiCay}"
										th:text="${loaicay.tenloai}" th:value="${loaicay.maloai}">-- Loại cây --
									</option>

								</select>
							</div>
						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button class="btn btn-info" type="submit">Xác nhận</button>
						<button class="btn btn-danger" data-dismiss="modal">Hủy</button>
					</div>

				</div>
			</form>
		</div>
	</div>
	<!-- Edit modal -->
	<!-- The Modal -->
	<div class="modal" id="edit">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<form th:action="@{/sua-cay}" method="post" enctype="multipart/form-data">

				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h2 class="modal-title">Chỉnh sửa</h2>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body" id="sua_cay">
						<div class="row" th:each="cay : ${cays}">
							<div class="col-12" hidden>
								<h4>Mã cây</h4>
								<input name="macay" th:value="${cay.macay}" class="input-group">
							</div>
							<div class="col-12">
								<h4>Tên cây cảnh</h4>
								<input type="text" name="tencay" th:value="${cay.tencay}" class="input-group">
							</div>
							<div class="col-6">
								<h4>Giá cây</h4>
								<input type="number" min="1000" name="giacay" th:value="${cay.giacay}"
									class="input-group" required>
							</div>
							<div class="col-6">
								<h4>Tồn kho</h4>
								<input type="number" value="0" min="0" max="500" name="tonkho" th:value="${cay.tonkho}"
									class="input-group" readonly>
							</div>
							<div class="col-12">
								<h4>Hình ảnh</h4>
								<div class="image-input">
									<input type='file' id="file-input" th:onchange="change_image()" th:name="photo"
										class="input-group btn-info" /> <img id="image-preview mt-2" alt="your image"
										width="100px" height="100px" title='' style="display: none" /> <img
										th:src="@{${'/load-image-cay/'+cay.macay}}" id="image" width="100px"
										height="100px" alt="">
									<script>
										function readURL(input) {
											if (input.files && input.files[0]) {
												var reader = new FileReader();
												reader.onload = function (e) {
													$('#image-preview').attr(
														'src',
														e.target.result);
													$('#image-preview').hide();
													$('#image-preview').fadeIn(
														650);
													$('#image-preview').css(
														'display', 'block')
													$('#image').css('display',
														'none');
												}
												reader
													.readAsDataURL(input.files[0]);
											}
										}
										$("#file-input").change(function () {
											readURL(this);
										});
									</script>
								</div>
							</div>
							<div class="col-12">
								<h4>Mô tả</h4>
								<textarea type="text" rows="5" name="mota" th:text="${cay.mota}"
									class="input-group"></textarea>
							</div>
							<div class="col-6">
								<h4>Đơn vị tính</h4>
								<input type="text" name="dvt" th:value="${cay.dvt}" class="input-group">
							</div>
							<div class="col-6">
								<h4>Loại cây</h4>
								<!-- <input type="text" name="maloai" th:value="${cay.maloai}" class="input-group"> -->
								<select class="input-group ml-0 pt-2 pb-2" name="maloai" id="maloai">
									<option th:each="i : ${listLoai}" th:value="${i.maloai}" th:text="${i.tenloai}"
										th:selected="${i.maloai == cay.maloai}"
										th:style="${i.maloai == cay.maloai} ? 'font-style: bold;color: red;' : ''">
									</option>
								</select>
							</div>
							<!--<div class="col-12">
							<h4>Loại cây</h4>
							<select id="maloai" name="maloai" >
							  <option th:each="{loai : listLoaiCay}" th:if="${loai.maloai == cay.maloai}" th:value="${cay.maloai}" th:text="${loai.tenloai}" ></option>
												
						    </select>
						    </div>-->
						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button class="btn btn-info" type="submit">Xác nhận</button>
						<button class="btn btn-danger" data-dismiss="modal">Hủy</button>
					</div>

				</div>

			</form>
		</div>
	</div>
	<!--  -->
	<!-- Remove modal -->
	<!-- The Modal -->
	<div class="modal" id="remove">

		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h2 class="modal-title">Xóa cây cảnh</h2>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<h2 style="color: red;">Bạn có muốn xóa cây cảnh này không</h2>
						</div>
					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button class="btn btn-info" id="btn-xac-nhan" data-toggle="modal" th:onclick="xoa_cay()"
						type="button">Xác nhận</button>
					<button class="btn btn-danger" type="button" data-dismiss="modal">Hủy</button>
				</div>

			</div>
		</div>

	</div>
	<!--  -->
	<!-- The Modal -->
	<div class="modal" id="ThemNhaCungCap">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<form th:action="@{/manager-addnhacungcap}" method="post">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h2 class="modal-title">Thêm mới nhà cung cấp</h2>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="row">
							<div class="col-12">
								<h4>Tên nhà cung cấp</h4>
								<input type="text" name="tennhacungcap" class="input-group">
							</div>
							<div class="col-12">
								<h4>Số điện thoại</h4>
								<input type="text" name="sodienthoai" class="input-group">
							</div>
							<div class="col-12">
								<h4>Email</h4>
								<input type="email" name="email" class="input-group">
							</div>
							<div class="col-12">
								<h4>Địa chỉ</h4>
								<input type="text" name="diachi" class="input-group">
							</div>
							<div class="col-12">
								<h4>Ghi chú</h4>
								<input type="text" name="ghichu" class="input-group">
							</div>
						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button class="btn btn-info" type="submit">Xác nhận</button>
						<button class="btn btn-danger" data-dismiss="modal">Hủy</button>
					</div>

				</div>
			</form>
		</div>
	</div>
	<!-- Edit modal -->
	<!-- The Modal -->
	<div class="modal" id="editnhacungcap">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<form th:action="@{/sua-nhacungcap}" method="post">

				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h2 class="modal-title">Chỉnh sửa nhà cung cấp</h2>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body" id="sua_nhacungcap">
						<div class="row" th:each="ncc : ${nhacungcap}">
							<div class="col-12" hidden>
								<h4>Mã nhà cung cấp</h4>
								<input name="manhacungcap" th:value="${ncc.manhacungcap}" class="input-group">
							</div>
							<div class="col-12">
								<h4>Tên nhà cung cấp</h4>
								<input name="tennhacungcap" th:value="${ncc.tennhacungcap}" class="input-group">
							</div>
							<div class="col-12">
								<h4>Số điện thoại</h4>
								<input type="text" name="sodienthoai" th:value="${ncc.sodienthoai}" class="input-group">
							</div>
							<div class="col-12">
								<h4>Email</h4>
								<input type="text" name="email" th:value="${ncc.email}" class="input-group">
							</div>
							<div class="col-12">
								<h4>Địa chỉ</h4>
								<input type="text" name="diachi" th:value="${ncc.diachi}" class="input-group">
							</div>
							<div class="col-12">
								<h4>Ghi chú</h4>
								<input type="text" name="ghichu" th:value="${ncc.ghichu}" class="input-group">
							</div>
						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button class="btn btn-info" type="submit">Xác nhận</button>
						<button class="btn btn-danger" data-dismiss="modal">Hủy</button>
					</div>

				</div>

			</form>
		</div>
	</div>
	<!--  -->
	<!-- Remove modal -->
	<!-- The Modal -->
	<div class="modal" id="remove">

		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h2 class="modal-title">Xóa nhà cung cấp </h2>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<h2 style="color: red;">Bạn có muốn xóa nhà cung cấp này không?</h2>
						</div>
					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button class="btn btn-info" id="btn-xac-nhans" data-toggle="modal" th:onclick="xoa_nhacungcap()"
						type="button">Xác nhận</button>
					<button class="btn btn-danger" type="button" data-dismiss="modal">Hủy</button>
				</div>

			</div>
		</div>

	</div>
	<!--  -->
	<!-- The Modal -->
	<div class="modal" id="ThemLoaiCay">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<form th:action="@{/manager-addLoaicay}" method="post">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h2 class="modal-title">Thêm mới loại cây</h2>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="row">
							<div class="col-12">
								<h4>Tên loại cây</h4>
								<input type="text" name="tenloai" class="input-group">
							</div>
						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button class="btn btn-info" type="submit">Xác nhận</button>
						<button class="btn btn-danger" data-dismiss="modal">Hủy</button>
					</div>

				</div>
			</form>
		</div>
	</div>
	<!-- Edit modal -->
	<!-- The Modal -->
	<div class="modal" id="editloaicay">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<form th:action="@{/sua-loaicay}" method="post">

				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h2 class="modal-title">Chỉnh sửa loại cây</h2>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body" id="sua_loaicay">
						<div class="row" th:each="lc : ${loaicays}">
							<div class="col-12" hidden>
								<h4>Mã loại cây</h4>
								<input name="maloai" th:value="${lc.maloai}" class="input-group">
							</div>
							<div class="col-12">
								<h4>Tên loại cây</h4>
								<input name="tenloai" th:value="${lc.tenloai}" class="input-group">
							</div>

						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button class="btn btn-info" type="submit">Xác nhận</button>
						<button class="btn btn-danger" data-dismiss="modal">Hủy</button>
					</div>

				</div>

			</form>
		</div>
	</div>
	<!--  -->
	<!-- Remove modal -->
	<!-- The Modal -->
	<div class="modal" id="remove">

		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h2 class="modal-title">Xóa loại cây </h2>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<h2 style="color: red;">Bạn có muốn xóa loại cây này không?</h2>
						</div>
					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button class="btn btn-info" id="btn-xac-nhann" data-toggle="modal" th:onclick="xoa_loaicay()"
						type="button">Xác nhận</button>
					<button class="btn btn-danger" type="button" data-dismiss="modal">Hủy</button>
				</div>

			</div>
		</div>

	</div>
	<!--  -->
	<!-- Nav tabs -->
	<main>
		<script>
			$(document).ready(function () {
				$('#btnSearch').on('click', function (event) {
					var key = $('#keyword').val();
					if (key === null || key === "") {
						alert("Hãy nhập gì đó vào thanh tìm kiếm!");
					}
				});
				$('.imageInput').on('change', function () {
					$input = $(this);
					if ($input.val().length > 0) {
						fileReader = new FileReader();
						fileReader.onload = function (data) {
							$('.image-preview').attr('src', data.target.result);
						}
						fileReader.readAsDataURL($input.prop('files')[0]);
						$('.image-button').css('display', 'none');
						$('.image-preview').css('display', 'block');
						$('.change-image').css('display', 'block');
					}
				});

				$('.change-image').on('click', function () {
					$control = $(this);
					$('#imageInput').val('');
					$preview = $('.image-preview');
					$preview.attr('src', '');
					$preview.css('display', 'none');
					$control.css('display', 'none');
					$('.image-button').css('display', 'block');
				});

			});
		</script>
		<script>
			function search() {
				var key = $('#keyword').val();
				setTimeout(1000);
				$.ajax({
					type: "POST",
					url: "/manager-bonsai/search_cay",
					data: "keyword=" + key,
					success: function (data) {
						$('#reloadcay').replaceWith(data);
						$('#keyword').val(key);
					},
					error: function (data) {
						alert("Có gì đó không đúng!\n Vui lòng thử lại sau.");
					}
				});
			}

			function sua_cay(macay) {
				$.ajax({
					type: "POST",
					url: "/load-modal-sua-cay",
					data: "macay=" + macay,
					success: function (data) {
						$('#sua_cay').replaceWith(data);

					},
					error: function (data) {
						alert('Lỗi!');
						console.log(macay);
					}
				});
			}
			function sua_nhacungcap(manhacungcap) {
				$.ajax({
					type: "POST",
					url: "/load-modal-sua-nhacungcap",
					data: "manhacungcap=" + manhacungcap,
					success: function (data) {

						$('#btntabncc').click();
						$('#sua_nhacungcap').replaceWith(data);

					},
					error: function (data) {
						alert('Lỗi!');
						console.log(macay);
					}
				});
			}
			function sua_loaicay(maloai) {
				$.ajax({
					type: "POST",
					url: "/load-modal-sualoaicay",
					data: "maloai=" + maloai,
					success: function (data) {

						$('#btntablc').click();
						$('#sua_loaicay').replaceWith(data);

					},
					error: function (data) {
						alert('Lỗi!');
					}
				});
			}
			function open_modal_xoa(macay) {
				$('#remove').css('display', 'block');
				$('#btn-xac-nhan').val(macay);
			}
			function xoa_cay(macay) {
				if (confirm('Bạn có muốn xoá cay có mã: ' + macay + ' không?')) {
					$.ajax({
						type: "POST",
						url: "/xoa_cay",
						data: "macay=" + macay,
						success: function (data) {
							alert('Xoá thành công!');
							$('#reloadcay').replaceWith(data);
						},
						error: function (data) {
							alert("lỗi!");
						}
					});
				} else {
					return false;
				}
			}
		</script>
		<script>
			$(document).ready(function () {
				$('#btnSearchncc').on('click', function (event) {
					$("button").click(function () {
						$("#div1").load("demo_test.txt");
					});
				});
				// xxx
				$('#btnSearchncc').on('click', function (event) {
					var key = $('#keywords').val();
					if (key === null || key === "") {
						alert("Hãy nhập gì đó vào thanh tìm kiếm!");
					}
				});
			});
			function searchs() {
				var key = $('#keywords').val();
				setTimeout(1000);
				$.ajax({
					type: "POST",
					url: "/manager-bonsai/search_nhacungcap",
					data: "keywords=" + key,
					success: function (data) {
						$('#nhacungcap').replaceWith(data);
						$('#keywords').val(key);
					},
					error: function (data) {
						alert("Có gì đó không đúng!\n Vui lòng thử lại sau.");
					}
				});
			}
			function open_modal_xoa(manhacungcap) {
				$('#remove').css('display', 'block');
				$('#btn-xac-nhans').val(manhacungcap);
			}
			function xoa_nhacungcap(manhacungcap) {
				if (confirm('Bạn có muốn xoá nhà cung cấp có mã: ' + manhacungcap + ' không?')) {
					$.ajax({
						type: "POST",
						url: "/xoa_nhacungcap",
						data: "manhacungcap=" + manhacungcap,
						success: function (data) {
							alert('Xoá thành công!');
							$('#nhacungcap').replaceWith(data);
						},
						error: function (data) {
							alert("Xoá thất bại!\n Vui lòng thử lại sau.");
						}
					});
				} else {
					return false;
				}
			}
			function open_modal_xoa(maloai) {
				$('#remove').css('display', 'block');
				$('#btn-xac-nhann').val(maloai);
			}
			function xoa_loaicay(maloai) {
				if (confirm('Bạn có muốn xoá loại cây có mã: ' + maloai + ' không?')) {
					$.ajax({
						type: "POST",
						url: "/xoa_loaicay",
						data: "maloai=" + maloai,
						success: function (data) {
							alert('Xoá thành công!');
							$('#reloadloaicay').replaceWith(data);
						},
						error: function (data) {
							alert("lỗi!");
						}
					});
				} else {
					return false;
				}
			}
		</script>
	</main>
</body>

</html>