<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý tài khoản - Trường mầm non Vinschool TP Thủ Đức</title>
    <link rel="shortcut icon" th:href="@{'/images/logo.ico'}" type="image/x-icon">
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/bootstrap.css">
    <link rel="stylesheet" href="dist/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="manager-nav-left"><a class="navbar-brand" href=""><img class="logo" src="images/logo/logo.png"
                        alt="Logo"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="manager-nav-right">
                <div class="manager collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav navbar-brand justify-content-center text-center">
                        <li class="nav-item active">
                            <a class="nav-link" href="manager-account.html"><i class="fa fa-user-circle"
                                    aria-hidden="truetrue"></i>
                                <p> Tài khoản</p><span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-briefcase" aria-hidden="true"></i>
                                <p> Tin tức & sự kiện</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#"><i class="fa fa-check-circle" aria-hidden="true"></i>
                                <p> Nhập học</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-star" aria-hidden="true"></i>
                                <p> Đánh giá</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html"><i class="fa fa-sign-out" aria-hidden="true"></i>
                                <p> Đăng xuất</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="container">
            <div class="table-vinschool">
                <h2 class="text-light mb-4" style="font-weight: 600;"><i class="fa fa-user-circle-o"
                        aria-hidden="true"></i>&nbsp;Cây cảnh</h2>
                <hr class=" bg-info mb-5">
                <table class="table table-bordered text-light">
                    <thead>
                        <tr>
                            <th>Tên đăng nhập</th>
                            <th>Mật khẩu</th>
                            <th>Mã phụ huynh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>conmeongungoc123</td>
                            <td>1222222222</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>conmeongungoc123</td>
                            <td>1222222222</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>conmeongungoc123</td>
                            <td>1222222222</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>conmeongungoc123</td>
                            <td>1222222222</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>conmeongungoc123</td>
                            <td>1222222222</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>conmeongungoc123</td>
                            <td>1222222222</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>conmeongungoc123</td>
                            <td>1222222222</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>conmeongungoc123</td>
                            <td>1222222222</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>conmeongungoc123</td>
                            <td>1222222222</td>
                            <td>1</td>
                        </tr>

                    </tbody>
                </table>
                <ul class="pagination justify-content-center">
                    <li class="page-item next-back"><a class="page-link" href="#"><i class="fa fa-angle-left"
                                style="font-weight: bold;" aria-hidden="true"></i></a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">20</a></li>
                    <li class="page-item next-back"><a class="page-link" href="#"><i class="fa fa-angle-right"
                                style="font-weight: bold;" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>


        <!-- FOOTER -->
        <div class="footer-logos">
            <div class="container d-flex align-items-center justify-content-center">
                <div class="footer-logos-item col-4 col-lg-4 col-xl-4 m-auto ">
                    <img alt="" src="images/logo/logo_cam.png" class="img-fluid lazyload mx-xl-auto d-xl-block" />
                </div>
                <div class="cis footer-logos-item col-4 col-lg-4 col-xl-4 m-auto">
                    <img alt="" src="images/logo/Logo-CIS.png" class="img-fluid lazyload mx-xl-auto d-xl-block" />
                </div>
                <div class="footer-logos-item col-4 col-lg-4 col-xl-4 m-auto">
                    <img alt="" src="images/logo/logo_IPC.png" class="img-fluid lazyload mx-xl-auto d-xl-block" />
                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <footer class="bg-dark text-light">
            <div id="footer">
                <div class="footer-top">
                    <div class="container">
                        <p class="the-title wow fadeInDown">Hệ thống Giáo dục Vinschool</p>
                        <div class="row">
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="widget wow fadeInLeft" data-wow-delay="0s">
                                    <p class="h6 footer-title">Tại Miền Bắc và Miền Trung:</p>
                                    <div class="content-widget">
                                        <p> <strong>T: </strong>
                                            <span>
                                                18006511 (chọn ngôn ngữ và bấm số máy lẻ 1 hoặc 3)<br />hoặc 094 659
                                                1010 </span>
                                        </p>
                                        <p> <strong>E: </strong><span>tuyensinh@vinschool.edu.vn</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="widget wow fadeInLeft" data-wow-delay="0.2s">
                                    <p class="h6 footer-title">Tại Miền Nam:</p>
                                    <div class="content-widget">
                                        <p> <strong>T: </strong>
                                            <span>
                                                18006511 (chọn ngôn ngữ và bấm số máy lẻ 2)<br />hoặc 091 1016 680
                                            </span>
                                        </p>
                                        <p> <strong>E: </strong><span>tuyensinh.hcm@vinschool.edu.vn</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-2">
                                <a href="//www.dmca.com/Protection/Status.aspx?ID=9753a5d8-c1fa-42e2-876e-3a12383d7ae0"
                                    title="DMCA.com Protection Status" class="dmca-badge"> <img
                                        src="images/logo/DMCA.png" alt="DMCA.com Protection Status" /></a>
                                <script src="dist/js/DMCABadgeHelper.min.js"> </script>
                            </div>
                            <div class="col-sm-6 col-lg-12 col-xl-4">
                                <p><i class="fa fa-map-marker" aria-hidden="true"
                                        style="font-size: 25px;"></i>&nbsp;RRQP+GQ3, Đ. Cầu
                                    Vồng 3, Long Thạnh Mỹ, Quận 9, Thành phố Hồ Chí Minh, Việt Nam</p>
                                <p><i class="fa fa-envelope" aria-hidden="true"
                                        style="font-size: 18px;"></i>&nbsp;Kidsvinschoolthuduc@gmail.com</p>
                                <p><i class="fa fa-phone-square" aria-hidden="true"
                                        style="font-size: 20px;"></i>&nbsp;0283643555</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="dist/js/jQuery/jquery-3.6.1.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <!--<script>window.jQuery || document.write('<script src="dist/js/jQuery/jquery-3.6.1.min.js"><\/script>')</script> -->
    <script src="dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>